<html>
    <body>
        <article id="about">
            <h1 class="underline">Warm Lines</h1>
            <img src="images/f4.png" style="width:100%">
            <p id="home_text">Warmlines are local support lines run by peers who share the same experiences. They are a free and confidential alternative to crisis lines. Visit <a href="https://warmline.org/">warmline.org</a> for your local warmline number! </p>

            <br><br>
            <h1 class="underline">Resources</h1>
            <ul id="facts">
                <li><div class="underline_bold">988 Suicide & Crisis Lifeline</div> </li>
                <p>Call or text 988 or chat 988lifeline.org. The 988 Suicide & Crisis Lifeline is a national network of local crisis centers that provides free and confidential emotional support to people in suicidal crisis or emotional distress 24 hours a day, 7 days a week.</p>
                <p><a href="https://988lifeline.org/">Learn more</a></p>

              <li><div class="underline_bold">Crisis Text Line</div></li>
                <p>Text MHA to 741741 and you’ll be connected to a trained Crisis Counselor. Crisis Text Line provides free, text-based support 24/7.</p>
                <p><a href="https://www.crisistextline.org/">Learn more</a></p>

              <li><div class="underline_bold">The Trevor Project</div></li>
              <p>Call 1-866-488-7386 or text START to 678678. A national 24-hour, toll free confidential suicide hotline for LGBTQ youth.</p>
              <p><a href="https://www.thetrevorproject.org/">Learn more</a></p>

              <li> <div class="underline_bold">Trans Lifeline</div></li>
              <p>Dial 877-565-8860 for US and 877-330-6366 for Canada. Trans Lifeline’s Hotline is a peer support service run by trans people, for trans and questioning callers.</p>
              <p><a href="https://translifeline.org/hotline/">Learn more</a></p>

              <li> <div class="underline_bold">Dial 2-1-1</div></li>
              <p>If you need assistance finding food, paying for housing bills, accessing free childcare, or other essential services, visit 211.org or dial 211 to speak to someone who can help. Run by the United Way.</p>
              <p><a href="https://www.211.org/about-us/your-local-211">Learn more</a></p>

              <li> <div class="underline_bold">National Domestic Violence Hotline</div></li>
              <p>For any victims and survivors who need support, call 1-800-799-7233 or 1-800-799-7233 for TTY, or if you’re unable to speak safely, you can log onto thehotline.org or text LOVEIS to 22522.</p>
              <p><a href="https://www.thehotline.org/resources/staying-safe-during-covid-19/">Learn more</a></p>

              <li> <div class="underline_bold">StrongHearts Native Helpline</div></li>
              <p>Call 1-844-762-8483. The StrongHearts Native Helpline is a confidential and anonymous culturally-appropriate domestic violence and dating violence helpline for Native Americans, available every day from 7 a.m. to 10 p.m. CT.</p>
              <p><a href="https://strongheartshelpline.org/get-help">Learn more</a></p>

              <li> <div class="underline_bold">The National Sexual Assault Telephone Hotline</div></li>
              <p>Call 800.656.HOPE (4673) to be connected with a trained staff member from a sexual assault service provider in your area.</p>
              <p><a href="https://www.rainn.org/about-national-sexual-assault-telephone-hotline">Learn more</a></p>
            
            <li> <div class="underline_bold">Caregiver Help Desk</div></li>
              <p>Contact Caregiver Action Network's Care Support Team by dialing 855-227-3640. Staffed by caregiving experts, the Help Desk helps you find the right information you need to help you navigate your complex caregiving challenges. Caregiving experts are available 8:00 AM – 7:00 PM ET.</p>
              <p><a href="https://www.caregiveraction.org/covid-19">Learn more</a></p>
            </ul>

            <br>
            <div class="flex-container-resource">
              <p>You should choose the hotline that is best for you. If you aren’t sure which helpline is best, or if you have concerns in more than one area, contact VictimConnect Resource Center by phone or text 1-855-4VICTIM (855-484-2846) or chat online.</p>
            </div>
            
            <br><br>
            <div class="flex-container-resource-1">
              <p>To Learn more about other National Hotlines you can:</p>
              <ul>
                <li> Visit the VictimConnect Resource Map and search by category areas.</li>
                <li> Visit the <a href="https://victimconnect.org/about-us/national-hotline-consortium/national-consortium-partners/">National Hotline Consortium Partners</a> page to learn about more hotline resources. If you would prefer to see a Full Hotline/Helpline list it is available for download.</li>
                <li> Download a full <a href="https://victimconnect.org/wp-content/uploads/2021/02/Full-Hotline-List.pdf">hotline/helpline list</a>.</li>
              </ul>
            </div>

          <br><br>
          <h3 id="green-text">Domestic Violence and Intimate Partner Violence</h3>
          <ul id="facts">
            <li> <div class="underline_bold"><a class="text-red" href="https://www.thehotline.org/">National Domestic Violence Hotline</a></div></li>
            <p> Hotline: 1 (800) 799 – 7233</p>
            <p> Available 24 hours a day, 7 days a week via phone and online chat.</p>
            <p> The National Domestic Violence Hotline (The Hotline) is available for anyone experiencing domestic violence, seeking resources or information, or questioning unhealthy aspects of their relationship.</p>

            <li> <div class="underline_bold"><a class="text-red" href="https://www.loveisrespect.org/">Love is Respect – National Teen Dating Abuse Hotline</a></div></li>
            <p> Hotline: 1 (866) 331 – 9474 | Text: 22522</p>
            <p> Available 24 hours a day, 7 days a week via phone, text, and online chat.</p>
            <p> Love is Respect offers information, support, and advocacy to young people who have questions or concerns about their dating relationships.</p>


          <li> <div class="underline_bold"><a class="text-red" href="https://strongheartshelpline.org/">StrongHearts Native Helpline</a></div></li>
            <p> Hotline: 1 (844) 762 – 8483</p>
            <p> Available Monday through Friday, 9:00am to 5:30pm CST via phone.</p>
            <p> The StrongHearts Native Helpline is a safe, anonymous, and confidential service for Native Americans experiencing domestic violence and dating violence.</p>


            <li> <div class="underline_bold"><a class="text-red" href="https://pathwaystosafety.org/">Pathways to Safety International</a></div></li>
            <p> Hotline: 1 (833) 723 – 3833 | Email: crisis@pathwaystosafety.org</p>
            <p> Available 24 hours a day, 7 days a week via phone, email, and online chat.</p>
            <p> Pathways to Safety International assists Americans experiencing interpersonal and gender based violence abroad.</p>

            <li> <div class="underline_bold"><a class="text-red" href="https://www.lgbthotline.org/">Gay, Lesbian, Bisexual and Transgender National Hotline</a></div></li>
            <p> Hotline: 1 (888) 843 – 4564 | Email: help@LGBThotline.org</p>
            <p> Youth Talkline: 1 (800) 246 – 7743 | Senior Helpline: 1 (888) 234 – 7243</p>
            <p> Hours vary, available via phone and online chat.</p>
            <p> The LGBT National Help Center serves gay, lesbian, bisexual, transgender, and questioning people by providing free and confidential peer support and local resources.</p>

            <li> <div class="underline_bold"><a class="text-red" href="https://www.womenslaw.org/">Womens Law</a></div></li>
            <p>Email hotline: https://hotline.womenslaw.org/</p>
            <p>The WomensLaw online helpline provides basic legal information, referrals, and emotional support for victims of abuse.</p>
          </ul>

          <br><br>
          <h3 id="green-text">Sexual Assault</h3>
          <ul id="facts">
            <li> <div class="underline_bold"><a class="text-red" href="https://www.rainn.org/">Rape, Abuse, and Incest National Network (RAINN) – National Sexual Assault Hotline</a></div></li>
            <p>Hotline: 1 (800) 656-4673</p>
            <p>Available 24 hours a day, 7 days a week via phone and online chat.</p>
            <p>RAINN (Rape, Abuse & Incest National Network) is the nation’s largest anti-sexual violence organization. RAINN created and operates the National Sexual Assault Hotline (800.656.HOPE, online.rainn.org y rainn.org/es) in partnership with more than 1,000 local sexual assault service providers across the country and operates the DoD Safe Helpline for the Department of Defense. RAINN also carries out programs to prevent sexual violence, help survivors, and ensure that perpetrators are brought to justice.</p>
          

            <li> <div class="underline_bold"><a class="text-red" href="https://safehelpline.org/">Department of Defense (DOD) Safe Helpline for Sexual Assault</a></div></li>
            <p>Hotline: 1 (877) 995 – 5247</p>
            <p>Available 24 hours a day, 7 days a week via phone and online chat.</p>
            <p>The DOD Safe Helpline is a crisis support service designed to provide sexual assault services for survivors, their loved ones, and other members of the DOD community.</p>
          </ul>


          <br><br>
          <h3 id="green-text">Human Trafficking</h3>
          <ul id="facts">
            <li> <div class="underline_bold"><a class="text-red" href="https://humantraffickinghotline.org/en">National Human Trafficking Hotline</a></div></li>
            <p>Hotline: 1-888-373-7888 | Text: 233733</p>
            <p>The National Human Trafficking Hotline is a national anti-trafficking hotline serving victims and survivors of human trafficking and the anti-trafficking community in the United States. The toll-free hotline is available to answer calls from anywhere in the country, 24 hours a day, 7 days a week, every day of the year in more than 200 languages.
            </p>

          </ul>


          <br><br>
          <h3 id="green-text">Children, Youth, and Teenagers</h3>
          <ul id="facts">
            <li> <div class="underline_bold"><a class="text-red" href="https://www.1800runaway.org/">National Runaway Safeline</a></div></li>
            <p>Hotline: 1 (800) 786 – 2929 | Email: info@1800runaway.org</p>
            <p>Available 24 hours a day, 7 days a week via phone, email, forum, and online chat.</p>
            <p>The National Runaway Safeline provides crisis and support services for homeless and runaway youth in the United States.</p>

            <li> <div class="underline_bold"><a class="text-red" href="https://www.missingkids.org/home">National Center for Missing and Exploited Children (NCMEC)</a></div></li>
            <p>Hotline: 1 (800) 843 – 5678 | Cyber Tipline: http://www.missingkids.com/gethelpnow/cybertipline</p>
            <p>NCMEC serves as a clearinghouse and comprehensive reporting center for all issues related to the prevention of and recovery from child victimization.</p>

            <li> <div class="underline_bold"><a class="text-red" href="https://www.childhelp.org/">ChildHelp National Child Abuse Hotline</a></div></li>
            <p>Hotline: 1 (800) 422 – 4453</p>
            <p>Available 24 hours a day, 7 days a week via phone and text.</p>
            <p>The Childhelp National Child Abuse Hotline is dedicated to the prevention of child abuse. Serving the U.S. and Canada, the hotline is staffed 24 hours a day, 7 days a week with professional crisis counselors who—through interpreters—provide assistance in over 170 languages. The hotline offers crisis intervention, information, and referrals to thousands of emergency, social service, and support resources. All calls are confidential.</p>

            <li> <div class="underline_bold"><a class="text-red" href="https://www.yourlifeyourvoice.org/Pages/home.aspx">Boystown USA – Your Life Your Voice Helpline</a></div></li>
            <p>Hotline: 1 (800) 448 – 3000 | Text: Text VOICE to 20121 (hours vary)</p>
            <p>Available 24 hours a day, 7 days a week via phone, email, text, and online chat.</p>
            <p>Your Life Your Voice is a program of Boystown USA and is available to children, parents, and families who are struggling with self-harm, mental health disorders, and abuse.</p>
          </ul>


          <br><br>
          <h3 id="green-text">Mental Health and Substance Abuse</h3>
          <ul id="facts">
            <li> <div class="underline_bold"><a class="text-red" href="https://988lifeline.org/">National Suicide Prevention Lifeline</a></div></li>
            <p>Hotline: 1-800-273-8255</p>
            <p>Available 24 hours a day, 7 days a week via phone and online chat.</p>
            <p>The National Suicide Prevention Lifeline provides free and confidential support for people in distress, prevention and crisis resources for you or your loved ones, and best practices for professionals.</p>

            <li> <div class="underline_bold"><a class="text-red" href="https://www.nami.org/help">National Alliance on Mental Illness (NAMI) Helpline</a></div></li>
            <p>Hotline: 1 (800) 950 – 6264 | Email: info@nami.org</p>
            <p>Available Monday through Friday, 10:00am to 6:00pm Eastern Standard Time.</p>
            <p>The NAMI Helpline assists individuals and families who have questions about mental health disorders, treatment, and support services.</p>

            <li> <div class="underline_bold"><a class="text-red" href="https://www.samhsa.gov/">Substance Abuse and Mental Health Services Administration (SAMHSA) Helpline</a></div></li>
            <p>Hotline: 1 (800) 662 – 4357</p>
            <p>Available 24 hours a day, 7 days a week via phone in English and Spanish.</p>
            <p>SAMHSA’s National Helpline provides free and confidential treatment referral and information service for individuals and families facing mental and/or substance abuse disorders.</p>
            <p>Contact the VictimConnect Hotline by phone at 1-855-4-VICTIM or by chat for more information or assistance in locating services that can help you or a loved one.</p>
          </ul>
        </article>
    </body>
</html>