<html>
    <body>
        <article id="about">
            <h1 class="underline">Warm Lines</h1>
            <img src="images/f4.png" style="width:100%">
            <p id="home_text">Warmlines are local support lines run by peers who share the same experiences. They are a free and confidential alternative to crisis lines. Visit <a href="https://warmline.org/">warmline.org</a> for your local warmline number! </p>

            <br><br>
            <h1 class="underline">Resources</h1>
            <ul id="facts">
                <li><div class="underline_bold">CRISIS HELPLINES</div> </li>
                <p>Crisis Text Line: </p>
                <p>Text “START” to 741741 in USA </p>
              <li><div class="underline_bold">International Suicide Hotlines</div></li>
                <p>National Eating Disorder Association: Call 1-800-931-2237 </p>
                <p>National Suicide Prevention Lifeline: Call 1-800-273-TALK (8255) </p>
              <li><div class="underline_bold">For LGBTQ Youth: </div></li>
              <p>TrevorLifeline at 866-488-7386</p>
              <p>TrevorText -Text START to 678-678</p>
              <li> <div class="underline_bold">Suicide Hotline</div></li>
              <p>988 </p>
              <li>AI-Anon and Ala-Teen Hotline</li>
              <p>+1 (800) 356-9996 </p>
              <li>Alabama Warm Line</li>
              <p>+1 (844) 999-4647 </p>
              

            </ul>
        </article>
    </body>
</html>