<html>
    <head><meta name="viewport" content="width=device-width, initial-scale=1">
        <div class="img2">
            <div class="hero_text">
                <h3 class="underline">Body Image</h3><br>
                <h4 class="underline">With Nora</h4>
            </div>
        </div>
    </head>
    <body>
        <!-- create a slide show -->
        
        <article id="home">
            <h5>
                <p class="underline"><strong>Date:</strong></p> Every Monday <br><br>
                <p class="underline"><strong>Time:</strong></p> 10:00AM <strong>PST</strong>/ 1:00PM <strong>EST</strong>
            </h5>
            <img src="images/BI1.png" id="group_image" style="width:100%">

            <p id="small_group_text">
                Body image is such a difficult discussion, especially with adolescents. Body image issues are deeply ingrained perceptions and feelings individuals have about their own physical appearance. Society's unrealistic beauty standards, perpetuated by media and advertising, play a significant role in exacerbating these issues. Body image problems can lead to harmful behaviors such as extreme dieting, excessive exercise, and even eating disorders in an attempt to conform to these ideals. These issues can affect people of all ages and genders, taking a toll on mental and emotional well-being, and in some cases, leading to serious health consequences. It is crucial to promote body positivity and encourage a healthy, realistic perspective on one's own body to combat these pervasive issues and support overall well-being. Food should be something that enriches life, not takes away from it!
            </p>
        </article>
    </body>
</html>