<html>
    <head><meta name="viewport" content="width=device-width, initial-scale=1">
        <div class="img2">
            <div class="hero_text">
                <h3 class="underline">Meditation or Breathwork</h3><br>
                <h4 class="underline">Alessia</h4>
            </div>
        </div>
    </head>
    <body>
        <!-- create a slide show -->
        
        <article id="home">
            <h5>
                <p class="underline"><strong>Date:</strong></p> Monday and Wednesdays:<br><br>
                <p class="underline"><strong>Time:</strong></p> 3PM <strong>PST</strong> / 4PM <strong>MST</strong> / 5PM <strong>CST</strong> / 6PM <strong>EST</strong>
            </h5>
            <img src="images/BW1.png" id="group_image" style="width:100%">

            <p id="small_group_text">
                Are you emotionally drained by life in general? Feeling overwhelmed, helpless, lonely, conflicted, etc.? Fear not! Join our virtual support group every week to navigate through this formative period. Our group leader will share with you powerful breathing exercises and techniques to improve not just your psychological but also your spiritual and physical well-being. Embark on your spiritual and mental health journey today by signing up and embracing the powerful effects of therapeutic breathing techniques in your daily life.
            </p>
        </article>
    </body>
</html>