<html>
    <head><meta name="viewport" content="width=device-width, initial-scale=1">
        <div class="img2">
            <div class="hero_text">
                <h3 class="underline">Creating Boundaries</h3><br>
                <h4 class="underline">With Sameena</h4>
            </div>
        </div>
    </head>
    <body>
        <!-- create a slide show -->
        
        <article id="home">
            <h5>
                <p class="underline"><strong>Date:</strong></p> Every Friday <br><br>
                <p class="underline"><strong>Time:</strong></p> 12:00PM <strong>PST</strong>/ 3:00PM <strong>EST</strong>
            </h5>
            <img src="images/CB1.png" id="group_image" style="width:100%">

            <p id="small_group_text">
                Healthy boundaries are a key part of life, whether in romantic relationships, friendships, or with family. In this group, we will learn about what healthy boundaries are, which boundaries you may need, and how to enforce them.
            </p>
        </article>
    </body>
</html>