<html>
    <head><meta name="viewport" content="width=device-width, initial-scale=1">
        <div class="img2">
            <div class="hero_text">
                <h3 class="underline">Coffee Date</h3><br>
                <h4 class="underline">Group attendees</h4>
            </div>
        </div>
    </head>
    <body>
        <!-- create a slide show -->
        
        <article id="home">
            <h5>
                <p class="underline"><strong>Date:</strong></p> Daily <br><br>
                <p class="underline"><strong>Time:</strong></p> 8AM <strong>PST</strong> / 9AM <strong> MST </strong> / 10AM <strong>CST</strong> / 11:00AM <strong>EST</strong>
            </h5>
            <img src="images/CD1.png" id="group_image" style="width:100%">

            <p id="small_group_text">
                There is no peer leader for this group. Just daily coffee hour for group attendees! Arrive on time, prepare a fun question for the group and get to know your peers on the app! This is a great way to start you day, and help to motivate yourself and others to have a healthy, happy, successful day! 
            </p>
        </article>
    </body>
</html>