<html>
    <head><meta name="viewport" content="width=device-width, initial-scale=1">
        <div class="img2">
            <div class="hero_text">
                <h3 class="underline">Coffee Hour</h3><br>
                <h4 class="underline">With Emily</h4>
            </div>
        </div>
    </head>
    <body>
        <!-- create a slide show -->
        
        <article id="home">
            <h5>
                <p class="underline"><strong>Date:</strong></p> Every Wednesday <br><br>
                <p class="underline"><strong>Time:</strong></p> 12:00PM <strong>PST</strong>/ 3:00PM <strong>EST</strong>
            </h5>
            <img src="images/CF1.png" id="group_image" style="width:100%">

            <p id="small_group_text">
                Join us for a casual coffee hour. Get the chance to interact with your peers, develop new relationships, learn novel perspectives, and reflect on life experiences. Hear and or discuss any upcoming exciting plans and or events planned for the weeks ahead. Feel free to discuss anything that interests you whether it be a new movie you came across, perhaps a rocking series, upcoming concerts, classwork, you name it! Instead of cramming in your college dorm all alone, join us and your peers as we all unwind with a soothing cup of coffee!
            </p>
        </article>
    </body>
</html>