<html>
    <link rel="stylesheet" href="/css/style.css" />
    <body>
        <article id="contact">
            <div class="section">
                <h2><strong>CONTACT US!</strong></h2>
            </div>
            <div class="section">
                <div class="contact-info">
                    <div class="info">  
                        <div id="gosman_location_map">
                            <image src="images/app.png" id="location_map" alt="mobile app"/>
                        </div>
                    </div>
                    <div class="info">
                        <h3>Contact Information</h3>
                        <div class="contact">
                            <p class="bold">Phone: </p>
                            <p>415-755-8169</p>
                        </div>
                        <div class="contact">
                            <p class="bold">Email: </p>
                            <p>Heather@betteredu.app</p>
                        </div>
                        <div class="contact">
                            <p class="bold">Hours: </p>
                            <p>Open 24 hours</p>
                        </div>
                        <div class="contact">
                            <p class="bold">Download the app here: </p><br>
                        </div>
                        <div class="contact">
                            <img src="images/qrcode.png" width="200px">
                        </div>
                        <div class="contact">
                            <p class="bold">Follow us on our social media! </p><br>
                        </div>
                        <div class="contact">
                            <p>Facebook: <a href="https://www.facebook.com/people/Betteredu/100094206371226/?mibextid=LQQJ4d">Betteredu</a></p>
                        </div>
                        <div class="contact">
                            <p>Instagram: <a href="https://www.instagram.com/_betteredu_/?igshid=MzRlODBiNWFlZA%3D%3D">_betteredu__</a></p>
                        </div>
                        <div class="contact">
                            <p>LinkedIn: <a href="https://linkedin.com/in/betteredu-page-787b48294">BetterEDU Page</a></p>
                        </div>
                        <div class="contact">
                            <p>X: <a href="https://twitter.com/BetterEDU1">@BetterEDU1</a></p>
                        </div>
                </div>
            </div>
            <div class="contact-info">    
                <div class="lower">
                    <!-- <h3>Contact Form</h3>
                    <p>Fill out the form below to contact us now!</p>
                    <form action="/contact" method="post">
                        <div class="form-element">
                            <div>
                                <label for="message">Message</label><br />
                                <textarea name="message" id="message" cols="30" rows="10"></textarea><br />
                            </div>
                            <div class="form-info">
                                <div>
                                    <label for="name">Name</label><br />
                                    <input type="text" name="name" /><br />                               
                                </div>

                                <div>
                                    <label for="email">Email</label><br />
                                    <input type="email" name="email" /><br />                               
                                </div>

                                <div id="submit">
                                    <input type="submit" value="Submit" />                              
                                </div>
    
                            </div>
                            
                        </div>
                
                        
                    </form> -->
        </article>
        
    </body>
</html>