<html>
    <head><meta name="viewport" content="width=device-width, initial-scale=1">
        <div class="img2">
            <div class="hero_text">
                <h3 class="underline">Dealing with Academic Pressure</h3><br>
                <h4 class="underline">Margo</h4>
            </div>
        </div>
    </head>
    <body>
        <!-- create a slide show -->
        
        <article id="home">
            <h5>
                <p class="underline"><strong>Date:</strong></p> Monday and Tuesday <br><br>
                <p class="underline"><strong>Time:</strong></p> 3:30PM <strong>PST</strong> / 4:30PM <strong>MST</strong> / 5:30 <strong> CST / </strong>6:30PM<strong> EST</strong>
            </h5>
            <img src="images/DA1.png" id="group_image" style="width:100%">

            <p id="small_group_text">
                Feeling overwhelmed by the world around you? This group will discuss the everyday worries and some of the bigger worries that lead to feeling anxious or panic attacks. We will discuss knowing some of the symptoms and coping mechanisms. Learning how to ground ourselves when the anxiety gets really bad. If you think this will help you, then come join us
            </p>
        </article>
    </body>
</html>