<html>
    <head><meta name="viewport" content="width=device-width, initial-scale=1">
        <div class="img2">
            <div class="hero_text">
                <h3 class="underline">Depression Support</h3><br>
                <h4 class="underline">With Sameena</h4>
            </div>
        </div>
    </head>
    <body>
        <!-- create a slide show -->
        
        <article id="home">
            <h5>
                <p class="underline"><strong>Date:</strong></p> Every Monday <br><br>
                <p class="underline"><strong>Time:</strong></p> 1:00PM <strong>PST</strong>/ 4:00PM <strong>EST</strong>
            </h5>
            <img src="images/DS1.png" id="group_image" style="width:100%">

            <p id="small_group_text">
                Struggling with feeling down, low energy, or loss of interest in daily activities? This group can support each other in finding ways to cope daily with depression by discussing strategies for symptom-reduction and learning new skills. Join us for a supportive, understanding and uplifting group. 
            </p>
        </article>
    </body>
</html>