<html>
    <head>
        <title>Error</title>
    </head>
    <body>
        <h1>Error</h1>
        <p><%= error.message %></p>
        <p><%= error.status %></p>
        <pre><%= error.stack %></pre>
    </body>
</html>