<html>
    <head> <div class="hero_image">
        <div class="hero_text">
            <h1 class="facilities"> This week at Brandeis</h1>
        </div>
    </div></head>
    <body class="center_content">
        <article id="home">
        
        <article id="flex_align">
            <table class="events">
                <tr class="top">
                    <th>Date and Time</th>
                    <th>Team</th>
                    <th>Versus</th>
                    <th>Final score (if available)</th>
                </tr>
                <tr>
                    <td>Sunday October 15th</td>
                    <td>Men's Swimming and Diving</td>
                    <td>Hartwick</td>
                    <td>3rd of 6 teams, 84 points</td>
                </tr>
                <tr>
                    <td>Tuesday October 17th</td>
                    <td>Women's Volleyball</td>
                    <td>Tufts</td>
                    <td>Tufts 1-3</td>
                </tr>
                <tr>
                    <td>5 pm Friday October 20</td>
                    <td>Women's Soccer</td>
                    <td>Emory</td>
                    <td>Emory 1-0</td>
                </tr>
                <tr>
                    <td>7:30 pm Friday October 20</td>
                    <td>Men's Soccer</td>
                    <td>Emory</td>
                    <td>Emory 4-2</td>
                </tr>
                <tr>
                    <td>1:00 pm Saturday October 21</td>
                    <td>Women's Swimming and Diving</td>
                    <td>Vassar College</td>
                    <td>TBD</td>
                </tr>
            </table>
        </article>

         <!-- create a slide show -->
         <div class="slideshow-container">

            <div class="mySlides fade">
              <div class="numbertext">1 / 3</div>
              <img src="images/wsc_event.jpg" style="width:100%">
              <h3 class="sports_text">Women fall at Emory, 1-0</h3>
              <div class="sports_text">The Brandeis University women's soccer team suffered their third 1-0 defeat in four University Athletic Association contests tonight as the Judges fell to host Emory on a 72nd minute goal in Atlanta.
            </div>
            </div>
            
            <div class="mySlides fade">
              <div class="numbertext">2 / 3</div>
              <img src="images/vlb_event.jpg" style="width:100%">
              <h3 class="sports_text">Judges drop second-straight four-setter to Emerson</h3>
              <div class="sports_text">The Brandeis University volleyball team dropped its second-straight four-set match of the week tonight as the Judges dropped a 3-1 decision to visiting Emerson College.
            </div>
            </div>
            
            <div class="mySlides fade">
              <div class="numbertext">3 / 3</div>
              <img src="images/msc_event.jpg" style="width:100%">
              <h3 class="sports_text">Judges score twice but fall to #7 Emory, 4-2</h3>
              <div class="sports_text">The Brandeis University men's soccer team became only the second opponent to put up multiple goals against #7-ranked Emory this evening, but the hosts doubled them up, 4-2, in a clash between teams that were unbeaten in University Athletic Association play entering the night.
            </div>
            </div>
            <br>
            
            <div style="text-align:center">
              <span class="dot"></span> 
              <span class="dot"></span> 
              <span class="dot"></span> 
            </div>

        <!-- Added the script -->
        <script src="js/script.js"></script>
        <br><br>

        <h3> Charity </h3>
        <p id="home_text">
            The Friends of Brandeis Athletics (FOBA) works to promote general engagement from the Brandeis athletics alumni community. FOBA initiatives support a wide range of needs and opportunities for all 19 varsity athletics teams, as well as our recreation programs, athletic training staff, and strength and conditioning.  Groups of volunteers within FOBA, our FOBA Executive Committee and FOBA Sport Captains, work diligently to secure philanthropic and volunteer support that enables coaches to recruit and provide student-athletes with the best possible experience.

            The Friends of Brandeis Athletics consists of 16 different subgroups. Gifts to the FOBA general fund supplement the Department of Athletics operating budget, and support department-wide initiatives and events including Athletics Homecoming, the Joseph M. Linsey Hall of Fame Induction Ceremony, Charlie's Breakfast, a variety of facility improvements, and other miscellaneous efforts to support and improve the student-athlete experience. Gifts to individual teams help cover costs of ancillary team related expenses including team meals, training trips, international travel, extra training gear or equipment, recruiting efforts, new technology, and team bonding activities. Contributions to any FOBA funds help to build a solid foundation for the future of all of our athletic programs.
        </p><br>

        <h3> Past Events </h3><br>

        <h4><strong>Event #1 -- Women's Soccer</strong></h4>
            <div id="gosman_image_frame">
                <image src="images/wsc_past.jpg" id="gosman_image" alt="Women Soccer Image"/>
            </div>
        <h4><strong>Sansone gets women back to winning ways, 1-0, over Wheaton</strong></h4>
        <p id="home_text">
            With time winding down in the 1st half, Madison Sansone netted her first collegiate goal, lifting women's to a 1-0 win over Wheaton and snapping a three-match skid! 
        </p>
        <p id="home_text">
            Sophomore midfielder Madison Sansone (Westport, Conn./Staples) tallied her first collegiate goal to give the Brandeis University women's soccer team a 1-0 victory over host Wheaton College (Mass.) this afternoon at Mirrione Stadium on the Wheaton campus in Norton, Mass.
        </p>
        <br><br>
        <h4><strong>Event #2 -- Men's Soccer</strong></h4>
            <div id="gosman_image_frame">
                <image src="images/msc_past.jpg" id="gosman_image" alt="Men Soccer Image"/>
            </div>
        <h4><strong>Maroto Tobias brace leads men to 2-2 draw with #8 Babson</strong></h4>
        <p id="home_text">
            Sancho Maroto Tobias scored twice for his third two-goal game in a Brandeis uniform, but the host and #8-ranked Beavers answered twice to earn a 2-2 draw in Babson Park. A career-high 9 saves for Quintin Wrabley. Deis now 3-5-4, Chicago up next on Saturday at 1! 
        </p>
        <p id="home_text">
            Brandeis University senior Sancho Maroto Tobias (Acton, Mass./Lexington) scored twice in the second half as the Judges men's soccer team battled #8-ranked Babson to a 2-2 draw on the road today. 
        </p>
        <br><br>
        <h4><strong>Event #3 -- Volleyball</strong></h4>
            <div id="gosman_image_frame">
                <image src="images/vlb_past.jpg" id="gosman_image" alt="Men Soccer Image"/>
            </div>
        <h4><strong>Volleyball sinks Coast Guard, 3-1</strong></h4>
        <p id="home_text">
            FINAL! Arianna Jackson was part of nine of the Judges' 18 blocks and had a key serving sequence in the fourth set as the volleyball team came from 12-3 down to clinch it! Lara Verstovsek added 24 kills and Anna Ertischek had 13 and .440 hitting percentage.
        </p>
        <p id="home_text">
            The Brandeis University volleyball team used a terrific fourth-set comeback today to complete a 3-1 victory over the visiting United States Coast Guard Academy in Red Auerbach Arena. Set scores were 25-22, 25-21, 20-25, 25-22.
        </p>
        </article>
    </body>
</html>