<html>
    <head><meta name="viewport" content="width=device-width, initial-scale=1">
        <div class="img2">
            <div class="hero_text">
                <h3 class="underline">Girls Night In!</h3><br>
                <h4 class="underline">With Group Attendees</h4>
            </div>
        </div>
    </head>
    <body>
        <!-- create a slide show -->
        
        <article id="home">
            <h5>
                <p class="underline"><strong>Date:</strong></p> Thursday and Fridays: <br><br>
                <p class="underline"><strong>Time:</strong></p> 7PM <strong>PST</strong> / 8PM <strong>MST</strong> / 9PM <strong>CST</strong> / 10PM <strong>EST</strong>
            </h5>
            <img src="images/GN1.png" id="group_image" style="width:100%">

            <p id="small_group_text">
                This group is just for the she/her, girls and those that identify as ladies! Don’t feel like going out? Over the Frat parties? Want to stay and in chat with other girls, who get it? Then this is the group for you. There is no formal leader, just think of it as the fun slumber parties that you miss with your besties. Vent about school, relationships, families. Make new friends and connections and enjoy the perfect night in!
            </p>
        </article>
    </body>
</html>