<html>
    <head><meta name="viewport" content="width=device-width, initial-scale=1">
        <div class="hero_image">
            <div class="hero_text">
                <h1 id="title_text"> <strong>BetterEdu:</strong></h1>
                <p id="home_text_1"><i>Our mission is to provide free & accessible mental health cares to all University Students.</i></p>
            </div>
        </div>
    </head>
    <body>
        <!-- create a slide show -->
        
        <article id="home">
            <h1 class="underline">Who are we?</h1>
            <p id="home_text">
                Welcome to <strong>BetterEDU</strong>! We are an upcoming mental health platform with a mission to provide free and accessible mental health care for college students. We strive to build a stigma-free and safe community for students through peer-to-peer virtual services that will be available with our upcoming app.
            </p>
            <br>
            <div class="slideshow-container">

                <div class="mySlides fade">
                  <div class="numbertext">1 / 3</div>
                  <img src="images/f3.png" style="width:100%">
                  <div class="sports_text">Mental health is just as important as physical health!</div>
                </div>
                
                <div class="mySlides fade">
                  <div class="numbertext">2 / 3</div>
                  <img src="images/f1.png" style="width:100%">
                  <div class="sports_text">Did you know that roughly 60% of college students meet the criteria for at least ONE mental health problem? 
                  </div>
                </div>
                
                <div class="mySlides fade">
                  <div class="numbertext">3 / 3</div>
                  <img src="images/f4.png" style="width:100%">
                  <div class="sports_text">Did you know other mental health support is available outside of national crisis hotlines? </div>
                </div>
                </div>
                <br>
                
                <div style="text-align:center">
                  <span class="dot"></span> 
                  <span class="dot"></span> 
                  <span class="dot"></span> 
                </div>
                 <!-- Added the script -->
        <script src="js/script.js"></script>
    
            <br>
            <h2 class="underline">Who should come?</h2>
            <div id="home_text">
            <ul>
                <li><strong>Anybody</strong> who cares about mental health!</li>
                <li><p class="underline">College students</p> looking for mental health support and resources</li>
                <li><p class="underline">Educators and university staff</p> interested in promoting mental well-being</li>
                <li><p class="underline">Friends and allies of college students</p> dealing with mental health challenges</li>
                <li><p class="underline">Tech enthusiasts and developers</p> interested in mental health innovation</li>
                <li><p class="underline">Community members</p> looking to support mental health initiatives in their area</li>
              </ul>
            </div>

            <br><br>
            <a class="facilities_link" href="groups"><h2 id="underline">Peer-To-Peer Mental Health Support</h2><a></a>
            <div class="home_container">
                <div class="home_item home_item-1">
                    <!-- <h3 id="home_box"> title </h3> -->
                    <br>
                    <ul> 
                        <li id="home_form"> DEALING WITH ACADEMIC PRESSURE <a class="sports_icon" href="DA"><i class="fa fa-search"></i></a></li><br>
                        <li id="home_form"> MEDITATION OR BREATHWORK <a class="sports_icon" href="BW"> <i class="fa fa-search"></i></a></li><br>
                        <li id="home_form"> COFFEE HOUR <a class="sports_icon" href="CF"> <i class="fa fa-search"></i></a></li><br>
                        <li id="home_form"> DEALING WITH ANXIETY <a class="sports_icon" href="AX"> <i class="fa fa-search"></i></a></li><br>
                        <li id="home_form"> I'M DIAGNOSED; NOW WHAT? <a class="sports_icon" href="DN"> <i class="fa fa-search"></i></a></li><br>
                        <li id="home_form"> JOURNAL PROMPT GROUP <a class="sports_icon" href="JP"> <i class="fa fa-search"></i></a></li><br>
                        <li id="home_form"> MUSIC THERAPY <a class="sports_icon" href="MT"> <i class="fa fa-search"></i></a></li><br>
                        <li id="home_form"> STRESS MANAGEMENT <a class="sports_icon" href="SM"> <i class="fa fa-search"></i></a></li><br>
                        <li id="home_form"> WALK TO PROCESS EMOTIONS <a class="sports_icon" href="WE"> <i class="fa fa-search"></i></a></li><br>
                        <li id="home_form"> LIGHT YOGO AND STRETCH <a class="sports_icon" href="YS"> <i class="fa fa-search"></i></a></li><br>
                    </ul>
                </div>
            
                <div class="home_item homt_item-2">
                    <!-- <h3 id="home_box"> title</h3> -->
                    <br>
                    <ul> 
                        <li id="home_form"> BODY IMAGE <a class="sports_icon" href="BI"><i class="fa fa-search"></i></a></li><br>
                        <li id="home_form"> CREATING BOUNDARIES <a class="sports_icon" href="CB"><i class="fa fa-search"></i></a></li><br>
                        <li id="home_form"> STRUGGLING WITH COLLEGE RELATIONSHIPS <a class="sports_icon" href="CR"><i class="fa fa-search"></i></a></li><br>
                        <li id="home_form"> DEPRESSION SUPPORT <a class="sports_icon" href="DS"><i class="fa fa-search"></i></a></li><br>
                        <li id="home_form"> IDEATION AND HEALTHY THOUGHTS<a class="sports_icon" href="IH"><i class="fa fa-search"></i></a></li><br>
                        <li id="home_form"> LET'S VENT <a class="sports_icon" href="LV"><i class="fa fa-search"></i></a></li><br>
                        <li id="home_form"> STUDY JAM <a class="sports_icon" href="SJ"><i class="fa fa-search"></i></a></li><br>
                        <li id="home_form"> SUNDAY NIGHT VIBES <a class="sports_icon" href="SN"><i class="fa fa-search"></i></a></li><br>
                        <li id="home_form"> YOGA <a class="sports_icon" href="YG"><i class="fa fa-search"></i></a></li><br>
                    </ul>
                </div>
            </div>


            <br><br>
            <a class="facilities_link" href="contact"><h1 id="underline">Join us!</h1><a>
            <p id="home_text">If you want to keep up with what's going on with the groups, join our peer groups on the app! Follow us on <a href="https://www.instagram.com/_betteredu_/?igshid=MzRlODBiNWFlZA%3D%3D">instagram</a> and <a href="https://twitter.com/i/flow/login?redirect_after_login=%2FBetterEDU1">X</a>, stay tuned for more information!</p>
            <img src="images/qrcode.png" alt = "QR Code" width = "200", height = "200">
            <p id="home_text"> QR code for iOS download</p>
        </article>
    </body>
</html>