<html>
    <head><meta name="viewport" content="width=device-width, initial-scale=1">
        <div class="img2">
            <div class="hero_text">
                <h3 class="underline">Suicidal Ideation</h3><br>
                <h4 class="underline">Nora</h4>
            </div>
        </div>
    </head>
    <body>
        <!-- create a slide show -->
        
        <article id="home">
            <h5>
                <p class="underline"><strong>Date:</strong></p>Wednesdays:<br><br>
                <p class="underline"><strong>Time:</strong></p> 10AM <strong>PST</strong> / 11AM <strong>MST</strong> / 12PM <strong>CST</strong> / 1PM <strong>EST</strong>
            </h5>
            <img src="images/IH1.png" id="group_image" style="width:100%">

            <p id="small_group_text">
                Ideation and Healthy Thoughts refers to the distressing and deeply troubling thoughts, fantasies, or mental preoccupations that revolve around the contemplation of ending one's own life. These thoughts can range from fleeting and passive musings about death to more concrete and persistent plans for self-harm. Individuals experiencing ideation often grapple with overwhelming emotional pain, hopelessness, and a sense of being trapped in their circumstances. It's important to understand that these thoughts are a sign of immense suffering and despair, and seeking professional help and support from loved ones is crucial for anyone experiencing them. Join us and our support group to share experiences and let you know you are never alone. 
            </p>
        </article>
    </body>
</html>