<html>
    <head><meta name="viewport" content="width=device-width, initial-scale=1">
        <div class="img2">
            <div class="hero_text">
                <h3 class="underline">Journal Prompt Group</h3><br>
                <h4 class="underline">With Sameena</h4>
            </div>
        </div>
    </head>
    <body>
        <!-- create a slide show -->
        
        <article id="home">
            <h5>
                <p class="underline"><strong>Date:</strong></p> Every Tuesday <br><br>
                <p class="underline"><strong>Time:</strong></p> 4:00PM <strong>PST</strong>/ 7:00PM <strong>EST</strong>
            </h5>
            <img src="images/JP1.png" id="group_image" style="width:100%">

            <p id="small_group_text">
                Our group leader will bring a prompt and everyone will have the option to journal about the prompt and share their thoughts with the group if they’d like, make yourself a cup of tea and get cozy. 
            </p>
        </article>
    </body>
</html>