<html>
    <head><meta name="viewport" content="width=device-width, initial-scale=1">
        <div class="img2">
            <div class="hero_text">
                <p id="home_text_1">Come to our virtual peer support groups!</p>
            </div>
        </div>
    </head>
    <body id="groups_color">
        <article id="membership">

            <div class="mbsp_container">
                <div class="mbsp_item item-1">
                    <div class="home_item_1">
                        <a class="pgroup_link" href="SM"><p id="membership_text"><strong>Stress Management</strong></p></a>
                    </div>
                </div>
            
                <div class="mbsp_item item-2">
                    <div class="home_item_1">
                        <a class="pgroup_link" href="BW"><p id="membership_text"><strong>Meditation or Breathwork</strong></p></a>
                    </div>
                </div>

                <div class="mbsp_item item-3">
                    <div class="home_item_1">
                        <a class="pgroup_link" href="WE"><p id="membership_text"><strong>Walk to Process Emotions</strong></p></a>
                    </div>
                </div>
                
            </div>

            <div class="mbsp_container">
                <div class="mbsp_item item-4">
                    <div class="home_item_1">
                    <a class="pgroup_link" href="DA"><p id="membership_text"><strong>Dealing with Academic Pressure</strong></p></a>
                    </div>
                </div>
            
                <div class="mbsp_item item-5">
                    <div class="home_item_1">
                        <a class="pgroup_link" href="BI"><p id="membership_text"><strong>Body Image</strong></p></a>
                    </div>
                </div>

                <div class="mbsp_item item-6">
                    <div class="home_item_1">
                        <a class="pgroup_link" href="CB"><p id="membership_text"><strong>Creating Boundaries</strong></p></a>
                    </div>
                </div>
                
            </div>

            <div class="mbsp_container">
                <div class="mbsp_item item-7">
                    <div class="home_item_1">
                        <a class="pgroup_link" href="CF"><p id="membership_text"><strong>Coffee Hour</strong></p></a>
                    </div>
                </div>
            
                <div class="mbsp_item item-8">
                    <div class="home_item_1">
                        <a class="pgroup_link" href="CR"><p id="membership_text"><strong>Struggling with College Relationships</strong></p></a>
                    </div>
                </div>

                <div class="mbsp_item item-9">
                    <div class="home_item_1">
                        <a class="pgroup_link" href="AX"><p id="membership_text"><strong>Dealing with Anxiety</strong></p></a>
                    </div>
                </div>
                
            </div>


            <div class="mbsp_container">
                <div class="mbsp_item item-10">
                    <div class="home_item_1">
                        <a class="pgroup_link" href="DS"><p id="membership_text"><strong>Depression Support</strong></p></a>
                    </div>
                </div>
            
                <div class="mbsp_item item-11">
                    <div class="home_item_1">
                        <a class="pgroup_link" href="DN"><p id="membership_text"><strong>I'm Diagnosed; Now What?</strong></p></a>
                    </div>
                </div>

                <div class="mbsp_item item-12">
                    <div class="home_item_1">
                        <a class="pgroup_link" href="IH"><p id="membership_text"><strong>Ideation and Healthy Thoughts</strong></p></a>
                    </div>
                </div>
                
            </div>

            <div class="mbsp_container">
                <div class="mbsp_item item-13">
                    <div class="home_item_1">
                        <a class="pgroup_link" href="JP"><p id="membership_text"><strong>Journal Prompt Group</strong></p></a>
                    </div>
                </div>
            
                <div class="mbsp_item item-14">
                    <div class="home_item_1">
                        <a class="pgroup_link" href="LV"><p id="membership_text"><strong>Let's Vent</strong></p></a>
                    </div>
                </div>

                <div class="mbsp_item item-15">
                    <div class="home_item_1">
                        <a class="pgroup_link" href="MT"><p id="membership_text"><strong>Music Therapy</strong></p></a>
                    </div>
                </div>
                
            </div>

            <div class="mbsp_container">
                <div class="mbsp_item item-16">
                    <div class="home_item_1">
                        <a class="pgroup_link" href="SJ"><p id="membership_text"><strong>Study Jam</strong></p></a>
                    </div>
                </div>
            
                <div class="mbsp_item item-17">
                    <div class="home_item_1">
                        <a class="pgroup_link" href="SN"><p id="membership_text"><strong>Sunday Night Vibes</strong></p></a>
                    </div>
                </div>

                <div class="mbsp_item item-18">
                    <div class="home_item_1">
                        <a class="pgroup_link" href="YG"><p id="membership_text"><strong>Yoga</strong></p></a>
                    </div>
                </div>
                
            </div>

            <div class="mbsp_container">
                <div class="mbsp_item item-19">
                    <div class="home_item_1">
                        <a class="pgroup_link" href="YS"><p id="membership_text"><strong>Light Yoga and Stretch</strong></p></a>
                    </div>
                </div>
            
                <div class="mbsp_item item-20">
                    <div class="home_item_1">
                        <a class="pgroup_link" href="CD"><p id="membership_text"><strong>Coffee Date</strong></p></a>
                    </div>
                </div>

                <div class="mbsp_item item-21">
                    <div class="home_item_1">
                        <a class="pgroup_link" href="GN"><p id="membership_text"><strong>Girl's Night In!</strong></p></a>
                    </div>
                </div>
                
            </div>

            <div class="mbsp_container">
                <div class="mbsp_item item-22">
                    <div class="home_item_1">
                        <a class="pgroup_link" href="SC"><p id="membership_text"><strong>Self-Care Isn't Selfish</strong></p></a>
                    </div>
                </div>
            
                <div class="mbsp_item">
                    
                </div>

                <div class="mbsp_item">
                    
                </div>
                
            </div>

        </article>
    </body>
</html>
