<html>
    <head><meta name="viewport" content="width=device-width, initial-scale=1">
        <div class="img2">
            <div class="hero_text">
                <h3 class="underline">Stress Management</h3><br>
                <h4 class="underline">With Emily</h4>
            </div>
        </div>
    </head>
    <body>
        <!-- create a slide show -->
        
        <article id="home">
            <h5>
                <p class="underline"><strong>Date:</strong></p> Every Monday and Thursday <br><br>
                <p class="underline"><strong>Time:</strong></p> 4:00PM <strong>PST</strong>/ 7:00PM <strong>EST</strong>
            </h5>
            <img src="images/SM1.png" id="group_image" style="width:100%">

            <p id="small_group_text">
                Join us for a stress-management group. Our group leader will discuss effective stress management techniques to help you deal with the stresses that accompany college life. Whether it is stress related to academics, pressing deadlines, changes in the environment, relationships, time management, etc we have your back! So come join a group of your classmates going through similar struggles as we work together to achieve mental harmony. 
            </p>
        </article>
    </body>
</html>