<html>
    <head><meta name="viewport" content="width=device-width, initial-scale=1">
        <div class="img2">
            <div class="hero_text">
                <h3 class="underline">Sunday Night Vibes</h3><br>
                <h4 class="underline">With Noah</h4>
            </div>
        </div>
    </head>
    <body>
        
        <article id="home">
            <h5>
                <p class="underline"><strong>Date:</strong></p> Every Sunday <br><br>
                <p class="underline"><strong>Time:</strong></p> 7:00PM <strong>PST</strong>/ 10:00PM <strong>EST</strong>
            </h5>
            <img src="images/SN1.png" id="group_image" style="width:100%">

            <p id="small_group_text">
                The upcoming week can be stressful, sometimes it helps to talk it all out and figure out what you have to do and plan out your week. Come and join us as we relax and get ready to face the new week as we talk, laugh, and prepare to make sure we can seize the week not just the next day!
            </p>
        </article>
    </body>
</html>