<html>
    <link rel="stylesheet" href="/css/style.css" />
    <body>
        <article id="contact">
            <h2>Thank you so much for contacting us!</h2> 
            <h3>Our team will review your message and response to you ASAP!</h3>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </article>
    </body>
</html>