<html>
    <head><meta name="viewport" content="width=device-width, initial-scale=1">
        <div class="img2">
            <div class="hero_text">
                <h3 class="underline">Light Yoga and Stretch</h3><br>
                <h4 class="underline">Group is open</h4>
            </div>
        </div>
    </head>
    <body>
        <!-- create a slide show -->
        
        <article id="home">
            <h5>
                <p class="underline"><strong>Date:</strong></p> Group is open now <br><br>
                <!-- <p class="underline"><strong>Time:</strong></p> 4:00PM <strong>PST</strong>/ 7:00PM <strong>EST</strong> -->
            </h5>
            <img src="images/YS1.png" id="group_image" style="width:100%">

            <p id="small_group_text">
                Join us for an end of the week decompressing yoga session. After a long week of working hard you deserve to relax. Stretching out those tense muscles and working on relaxing breathing techniques that you can even use throughout your week. We will focus more on breathing and stretching for this yoga session. You will want to wear some comfy clothes and be in an area where you can lay down. We hope to see you there!
            </p>
        </article>
    </body>
</html>